/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  #Card{
    height: 420px;
    width: 260px;
    background-color: #DFF6FF;
    border-radius: 20px;
    border: 1px solid grey;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .name{
    margin-top: -25px;
  }
  .para{
    font-weight: 100;
    font-size: medium;
    color: #7e8485;
  }
  .count{
    color: #7e8485;
  }
  .color{
    color: #00b4fb;
  }
  .rating{
    font-size: medium;
  }
  .img-container{
    margin: 30px;
    border-radius: 50%;
  }
  .image-style{
    border-radius: 50%;
  }
  .user-image{
    border-radius: 50%;
    border: none;
  }
  .user-form{
    width: max;
    height: max;
    text-align: center;
  }
  
  .user-input{
    padding: 24px 24px;
    border: 1px solid black;
    border-radius: 25px;
    width: 40%;
    height: 30px;
    margin: 50px;
    font-size: 20px;
    letter-spacing: .1ch;
  }

  .search-button:hover{
  background: #7e8485;
  border: none;
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: background-color 0.5s;
  outline: none;
  cursor: pointer;
  }
  
  .search-button{
    padding: 10px 24px;
    width: 150px;
    height: 50px;
    background: #05b8ff;
    border-radius: 25px;
    color: #fff;
    font-size: 20px;
    border:none;
    letter-spacing: .1ch;
  }

  .contact-button{
    padding: 8px;
    width: 130px;
    height: 40px;
    background: #05b8ff;
    border-radius: 25px;
    color: #fff;
    font-size: 15px;
    border:none;
    margin-top: 20px;
    letter-spacing: .1ch;
  }
  .contact-button:hover{
    background: #7e8485;
    border: none;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(139, 139, 145, 0.1) 0px 7px 29px 0px;
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
    }
    
  .num-id{
    font-weight: bold;
    padding-left: 15px;
  }

  /*To reomve input field arrows*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /*For mozilla*/
  input[type=number] {
    -moz-appearance: textfield;
  }
  body {
    background-color: #06283D;
  }

/* Media Query for Mobile Devices */
   @media (max-width: 480px) {
  body {
    background-color: #06283D;
  }
  .container{
    align-items: center;
    justify-content: center;
  }
  .user-input {
    font-size: medium;
    width: 250px;
  }
  .search-button{
    font-size: medium;
    padding: 10px 15px;
    height: 50px;
    width: 100px;
  }
    
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        background-color: #06283D;
    }
    .container{
      align-items: center;
      justify-content: center;
    }
    .user-input {
      font-size: medium;
      width: 250px;
    }
    .search-button{
      font-size: medium;
      padding: 10px 15px;
      height: 50px;
      width: 100px;
    }
    
}